<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airship.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,613},{128,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,74}}</string>
                <key>sourceSize</key>
                <string>{128,74}</string>
            </dict>
            <key>cre-store.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,795},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,677},{116,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{116,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>level mid-floor 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>level mid-floor 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{669,700}}</string>
                <key>offset</key>
                <string>{21,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,20},{669,700}}</string>
                <key>sourceSize</key>
                <string>{719,720}</string>
            </dict>
            <key>scr-canc-advertising.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,795},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>scr-canc-butt-level.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,739},{98,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{98,48}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
            <key>scr-canc-level.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,405},{271,206}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,48},{271,206}}</string>
                <key>sourceSize</key>
                <string>{401,304}</string>
            </dict>
            <key>scr-lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,673},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>scr-money.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,439},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>scr-mov-left.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,811},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>scr-mov-right.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,613},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>scr-ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,745},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>scr-resurgence.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,473},{30,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{30,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>scr-sele-butt-level.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,613},{126,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,62}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
            <key>scr-sele-level.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{401,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,304}}</string>
                <key>sourceSize</key>
                <string>{401,304}</string>
            </dict>
            <key>scr-setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,679},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>scr-stamina.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,405},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,689},{114,116}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{114,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>test.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41b6933a2bee1c786feaf1ba32188412$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
